
.nav-form{
    -fx-background-color:  #525eda;
}
.button1{
      -fx-background-color: #525eda;;
    -fx-cursor: hand;
    -fx-font-size:14px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-color: #4c57cc;

}
.button1:hover{
    -fx-background-color : #656cff;
    -fx-border-color: #CDD1D6;
    -fx-text-fill: white;
}
.button1-click-change{
    -fx-background-color: #98a9ff;
    -fx-font-size:14px;
    -fx-font-weight: bold;
    -fx-border-color: white;
    -fx-text-fill: white;
    -fx-border-width: 0px 0px 0px 2px;
}
.button1:pressed{
    -fx-background-color:#98a9ff;
    -fx-border-color: white;
    -fx-border-width: 0px 0px 0px 2px;
}
.button1:focused{
    -fx-background-color:#98a9ff;
    -fx-border-color: white;
    -fx-border-width: 0px 0px 0px 2px;
}
.form-content{
    -fx-background-color: #f8f8f8;
}
.box-info{
    -fx-background-color: white;
    -fx-border-color: #7886C7;
    -fx-border-width: 0px 0px 2px 0px;
}
.card-header{
   -fx-text-fill:#004eba;
    -fx-font-size: 16px;
}
.card-header{
    -fx-text-fill:#004eba;
    -fx-font-weight: bold;
}
.card-footer{
    -fx-text-fill:#004eba;

}
.card-booking{

    -fx-border-color: #004eba;
    -fx-border-width: 0px 0px 0px 10px;
    -fx-background-radius: 15px;
}
.card-booking1{
    -fx-background-color: #d6e8ff;
}
.card-booking2{
    -fx-text-fill:gray;
}
.card-Acceptbooking{

    -fx-border-color: #2fa536;
    -fx-border-width: 0px 0px 0px 10px;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}
.card-Rejectbooking{

    -fx-border-color: #880000;
    -fx-border-width: 0px 0px 0px 10px;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}

.card-Rejectbooking1{
    -fx-background-color: #fae0e0;
}
.bntBack{
    -fx-cursor: hand;
}
.card-Acceptbooking1{
    -fx-background-color: #e5ffe6;
}

.button-cancel{
    -fx-background-color: #b52828;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 6,0,0,0);
}
.white-bg{
    -fx-background-color: #fff;
    -fx-background-radius: 8px;
}

/*

*/
.button2
{
    -fx-cursor: hand;
    -fx-background-color : #FFFFFF;
    -fx-background-radius :  1px 1px 1px 1px;
    -fx-border-color: #CDD1D6;
    -fx-border-width:  1px 1 px 1px 1px;

}
.button2:hover
{
    -fx-background-color : #9e90f8;
    -fx-border-color: #CDD1D6;
    -fx-border-width:  1px 1 px 1px 1px;
}
.button2:pressed
{
    -fx-background-color : #363a7c;
    -fx-text-fill: white;
}
.button2:focused{
    -fx-background-color: #383d80;
    -fx-background-radius: 1px 1px 1px 1px;
    -fx-text-fill: white;
}
.bntAddBooking{
    -fx-background-color: #74f474;
    -fx-cursor: hand;
}
.bntAddBooking:hover{
    -fx-background-color: #65d665;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
.bntAdd{
    -fx-background-color: #2fa536;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-cursor: hand;
}
.table-view:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-cell-size : 20;
    -fx-background-color:#7886C7;
}
.table-view .column-header .label{

    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}
.table-view .cell{
    -fx-cell-size: 30;
    -fx-alignment: center-left;
    -fx-text-fill: #000000;
}

.table-row-cell:selected {
    -fx-background-color:  rgb(226, 222, 242);
}
.table-row-cell:selected .text {
    -fx-fill : white ;

}
/* scroll bar starts here */

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 2em;

}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color:derive(  #2D75E8,80%);
    -fx-background-radius: 2em;
    -fx-border-radius:2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive( #2D75E8,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}

/* chart properties */

.chart {
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-legend-visible: false;
}
.chart-plot-background {
    -fx-background-color:transparent;
}

.chart-pie {
    -fx-border-color: derive(-fx-pie-color, 1%);
    -fx-border-width: 0px;
}
/*Tab Pane*/
.tab-pane .tab-header-area .tab-header-background{
    -fx-opacity: 0;
}
.tab-pane{
    -fx-tab-min-width: 90px;
    -fx-tab-min-height: 30px;
}
.tab{
    -fx-background-insets: 0 0 0 0,0,0;
}
.tab-pane .tab{
    -fx-background-color: #FFFFFF;
}
.tab-pane .tab:selected{
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #464c9f;
    -fx-border-color: #3d428a;
    -fx-border-width: 0px 0px 2px 0px;
}
.tab .tab-label{
    -fx-alignment: CENTER;
    -fx-text-fill: #A5A9B4;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}
.tab:selected .tab-label{
    -fx-alignment: CENTER;
    -fx-text-fill: #464c9f;
}